@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|ZCOOL+KuaiLe');


.xInput, .zInput, .yInput, .amountInput{
    height: 25px;
    width: 150px;
    display: flex;
    position: fixed;
    align-content: flex-start;
    color: rgb(143, 142, 142);
    border-color: rgb(218, 216, 216);
    text-align: center;
    font-family: 'Josefin Sans';
}

.xInput{
    left: 37%;
    transform: translate(-50%, -50%);
    animation-name: exmaple;
    animation-duration: 5s;
}

.zInput{
    left: 50%;
    transform: translate(-50%, -50%);
}

.yInput{
    left: 63%;
    transform: translate(-50%, -50%);
}

.amountInput {
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.buttonSubmit{
    display: block;
    width: 130px;
    height: 40px;
    position: fixed;
    border-color: black;
    align-content: flex-start;
    margin-top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 3px;
    font-family: 'Josefin Sans';
    font-size: 1.1em;
    border-radius: 100px;
}

.buttonSubmit:hover{
    font-weight: bold;
    font-size: 1.15em;
    animation-name: colourFadeSubmitButton;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

.xInput:hover, .zInput:hover, .yInput:hover, .amountInput:hover{
    font-weight: bold;
    animation-name: colourFadeInputBoxes;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes colourFadeInputBoxes {
    0% {border-color: rgb(240, 240, 240);}
    25% {border-color: rgb(161, 161, 161);}
    50% {border-color: rgb(61, 60, 60);}
    75% {border-color: rgb(63, 63, 63);}
    100% {border-color: rgb(8, 8, 8);}

    0% {box-shadow: 1px 1px rgb(240, 240, 240);}
    25% {box-shadow: 1.5px 1.5px rgb(161, 161, 161);}
    50% {box-shadow: 2px 2px rgb(61, 60, 60);}
    75% {box-shadow: 2.5px 2.5px rgb(63, 63, 63);}
    100% {box-shadow: 2.5px 2.5px rgb(8, 8, 8);}
}

@keyframes colourFadeSubmitButton {
    0% {border-color: rgb(8, 22, 7);}
    25% {border-color: rgb(14, 36, 13);}
    50% {border-color: rgb(25, 70, 23);}
    50% {border-right-color: lightgreen};
    75% {border-color: rgb(35, 107, 32);}
    100% {border-color: rgb(20, 197, 14);}
    100% {border-right-color: lightgreen};

    0% {box-shadow: 1px 1px rgb(8, 22, 7);}
    25% {box-shadow: 1.5px 1.5px rgb(14, 36, 13);}
    50% {box-shadow: 2px 2px rgb(25, 70, 23);}
    75% {box-shadow: 2.2px 2.2px rgb(35, 107, 32);}
    100% {box-shadow: 2.5px 2.5px rgb(20, 197, 14);}

    0% {color: rgb(8, 22, 7);}
    25% {color: rgb(14, 36, 13);}
    50% {color: rgb(25, 70, 23);}
    75% {color: rgb(35, 107, 32);}
    100% {color: rgb(68, 156, 68);} 
}


@media only screen and (max-width: 950px){
    .xInput, .zInput, .yInput, .amountInput {
        left: 50%;
    }
    .zInput{
        margin-top: 50px;
    }
    .yInput{
        margin-top:100px;
    }

    .amountInput{
        margin-top: 150px;
    }

    .buttonSubmit{
        margin-top: 220px;
    }
}

